*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 5rem;
  background-color: #e56b5e;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vmin;
  color: white;
}

.workPlaces {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.workPlaces h2 {
  grid-column: span 3;
  text-align: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25rem;
}

.work-item-image {
  object-fit: cover;
}

/* table */

section.the-css-at-table {
  display: table;
  border-collapse: collapse;
}
section.the-css-at-table header {
  display: table-header-group;
}
section.the-css-at-table .tbody {
  display: table-row-group;
}
section.the-css-at-table .tr {
  display: table-row;
}
section.the-css-at-table .tr > span {
  display: table-cell;
  padding: 1rem;
  border: 0.1rem solid #e6e7f1;
  text-align: left;
}

section.the-css-at-table .th {
  border-color: #021450;
  color: white;
  text-transform: uppercase;
}
section.the-css-at-table .title {
  display: none;
}
section.the-css-at-table .no-style-break {
  display: none;
}
section.the-css-at-table .spacer {
  display: none;
}
@media (max-width: 700px) {
  section.the-css-at-table {
    display: block;
  }
  section.the-css-at-table header {
    display: none !important;
  }
  section.the-css-at-table .tbody {
    display: block;
  }
  section.the-css-at-table .tr {
    display: block;
    margin: 0 0 20px 0;
  }
  section.the-css-at-table .tr > span {
    display: block;
  }
  section.the-css-at-table .tr > span::before {
    display: inline-block;
    width: 33%;
    margin-right: 10px;
    font-weight: bold;
  }
  section.the-css-at-table .title {
    display: inline-block;
    width: 30%;
    font-weight: bold;
  }
}

/* buttons */

.bttn {
  color: #fff;
  transition: 0.3s ease all;
}

input[type="submit"] {
  background: none;
}

.bttn:hover {
  color: #e56b5e;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #fff;
}

.bttn {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 27rem;
  font-weight: bold;
  padding: 1.4rem 0rem;
  border: 0.3rem solid #fff;
  position: relative;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.16),
    0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}
.bttn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fff;
  z-index: -2;
}
.bttn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
