*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 5rem;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vmin;
  color: white;
}

h2 {
  text-align: center;
}

.error-message {
  font-style: italic;
  color: #e56b5e;
}

section:not(:first-child) {
  margin-top: 10rem;
}

.werkplaatsen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-places {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.work-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-item-image {
  object-fit: cover;
}

.beheer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* table */

section.the-css-at-table {
  display: table;
  border-collapse: collapse;
}
section.the-css-at-table header {
  display: table-header-group;
}
section.the-css-at-table .tbody {
  display: table-row-group;
}
section.the-css-at-table .tr {
  display: table-row;
}
section.the-css-at-table .tr > span {
  display: table-cell;
  padding: 1rem;
  border: 0.1rem solid #e6e7f1;
  text-align: left;
}

section.the-css-at-table .th {
  border-color: #021450;
  color: white;
  text-transform: uppercase;
}
section.the-css-at-table .title {
  display: none;
}
section.the-css-at-table .no-style-break {
  display: none;
}
section.the-css-at-table .spacer {
  display: none;
}
@media (max-width: 700px) {
  section.the-css-at-table {
    display: block;
  }
  section.the-css-at-table header {
    display: none !important;
  }
  section.the-css-at-table .tbody {
    display: block;
  }
  section.the-css-at-table .tr {
    display: block;
    margin: 0 0 20px 0;
  }
  section.the-css-at-table .tr > span {
    display: block;
  }
  section.the-css-at-table .tr > span::before {
    display: inline-block;
    width: 33%;
    margin-right: 10px;
    font-weight: bold;
  }
  section.the-css-at-table .title {
    display: inline-block;
    width: 30%;
    font-weight: bold;
  }
}

/* buttons */

.link {
  color: #fff;
  transition: 0.3s ease all;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 0.1rem solid #fff;
  position: relative;
}

.link:not(:first-child) {
  margin-left: 10rem;
}

input[type="submit"] {
  background: none;
}

input[type="submit"]:hover {
  background: #fff;
}

.bttn {
  color: #fff;
  transition: 0.3s ease all;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 27rem;
  font-weight: bold;
  padding: 2rem 1rem;
  border: 0.1rem solid #fff;
  position: relative;
}

.bttn:hover,
.link:hover {
  color: #000;
  cursor: pointer;
}

.bttn:before,
.link:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fff;
  z-index: -2;
}
.bttn:hover:before,
.link:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/* form */

.add-form {
  width: 70rem;
  display: flex;
  flex-direction: row;
}

.form-add-number,
.form-add-info {
  display: flex;
  flex-direction: column;
}

.form-add-number {
  align-items: center;
  width: 100%;
}

#bttn {
  align-self: flex-end;
}

.ui-input {
  position: relative;
  padding: 0;
  border: 0;
  margin-bottom: 2rem;
}

.ui-input input {
  background: none;
  padding: 1.6rem 0 1.6rem 0;
  font-size: 2.4rem;
  outline: 0;
  width: 100%;
  color: #fff;
  border: 0.1rem solid white;
  padding-left: 1rem;
}

.ui-input input + label {
  display: block;
  padding: 0.8rem 0 0.8rem 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

input[type="number"] {
  width: 50%;
  border: 0.1rem solid white;
  text-align: center;
}

.work-option-wrap {
  display: flex;
  justify-content: space-between;
}
